body{
    margin:0px;
    text-align: center;
    background-color: chocolate;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:url(https://images8.alphacoders.com/133/1337846.png);
    background-position: center;
    background-size: cover;
}
h1{
    margin:0px;
    margin:20px 0px 20px 0px;
}
a{
    margin:0px;
}
p{
    margin:0px;
    display:inline;
}
#login {
  margin:auto;
  border:2px solid rgba(255,255,255,0.2);
  border-radius:25px;
  width:400px;
  height:350px;
  background-color:transparent;
  margin-top: 150px;
  backdrop-filter: blur(15px);
}
#para {
    margin-right: 60px;
    display: inline-block;
}
.fill{
    width:300px;
    height:30px;
    border-radius: 25px;
    border:1px solid white;
    background-color:transparent;
    text-indent: 10px;
    margin-bottom: 20px;
}
.fill::placeholder{
    color:white;
}
#submit {
    width:300px;
    height:35px;
    border-radius: 25px;
    border:none;
    background-color:white;
    margin:20px 0px 20px 0px;
    font-size:16px;
    color:#333;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-weight: 900;
    color:white;
}
#register {
 display:inline-block;

}
